<!DOCTYPE html>
<html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no,
    shrink-to-fit=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

  <title>AhLian</title>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js"   integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="   crossorigin="anonymous"></script>
  <script src="papaparse.js"></script>
  <script src="https://npmcdn.com/tether@1.2.4/dist/js/tether.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <link rel="stylesheet" href="style/style.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <script>
  // Redirect console.log to Evothings Workbench.
  if (window.hyper && window.hyper.log) { console.log = hyper.log }
  </script>

  <link rel="stylesheet" href="app.css">
  <link rel="stylesheet" href="libs/mdl/material.css">
  <link rel="stylesheet" href="libs/mdl/icons/material-icons.css">
</head>

<body>

  <script>
    $(document).ready(function(){
      //$('#getAdvice').on('click', getAdvice);
    });

    var app = angular.module("myShoppingList", []);
    app.controller("myCtrl", function($scope){
      $scope.products = [];
      $scope.addItem = function () {
        $scope.errortext = "";
        if (!$scope.addMe) {return;}
        if ($scope.products.indexOf($scope.addMe) == -1) {
            $scope.products.push($scope.addMe);
            $scope.addMe = '';
        } else {
            $scope.errortext = "The item is already in your shopping list.";
        }
      }
      $scope.removeItem = function (x) {
        $scope.errortext = "";
        $scope.products.splice(x,1);
      }

    $scope.getAdvice = function() {
      var currentList = $scope.products;

      var soda = false;
      var vegetable = false;
      var fruit = false;
      var cereal = false;
      var rice = false;
      var alcohol = false;
      var healthy = false;

      $.each(currentList,function(index,tag){
        //console.log(index);
        //console.log(tag);
        if(/^.*(coca|cola|sprite|fanta|coke).*$/igm.test(tag))
          soda = true;
        if(/^.*(beans?|beansprouts?|vegetables?|chai|chaisim|chaisym|kang(kong)?|kai(lan)?|brocolli|cauliflower|carrots?|carrots?|tomato|tomato(es)?|beets?|beetroot|potato(es)?|radish(es)?|garlic|onions?|ginger|cabbage(es)?|chai sym|eggplants?).*$/igm.test(tag))
          vegetable = true;
        if(/^.*(apples?|oranges?|grapes?|coconuts?|dragon(fruit)?|mango(es)?|durians?|mangosteens?|longans?|rambutans?|jackfruits?|papayas?|pears?|pineapples?|guavas?).*$/igm.test(tag))
          fruit = true;
        if(/^.*(rice).*$/igm.test(tag))
          rice = true;
        if(/^.*(cereal|honey|stars?|fruit loops| kellogg('s')|coco crunch).*$/igm.test(tag))
          cereal = true;
        if(/^.*(wine|beer).*$/igm.test(tag))
          alcohol = true;
      })

      console.log("Soda: " + soda);
      console.log("Vegetable: " + vegetable);
      console.log("Fruit: " + fruit);
      console.log("Cereal: " + cereal);
      console.log("Rice: " + rice);
      console.log("Alcohol: " + alcohol);
      console.log("Healthier Choice: " + healthy);

      if(vegetable==false){
        //$('#adviceTitle').text('You need some vegetables!')
        $('#adviceBody').text('You need some vegetables! Here are some recommendations: ')

        var tableContent = '';
            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Bean Sprouts" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/veg1.jpg">' +'</td>'
            tableContent += '<td>' + '$0.99' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Kang Kong" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/veg2.jpg">' +'</td>'
            tableContent += '<td>' + '$1.09' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Chye Sim" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/veg3.jpg">' +'</td>'
            tableContent += '<td>' + '$1.19' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Kai Lan" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/veg4.jpg">' +'</td>'
            tableContent += '<td>' + '$1.29' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Eggplant" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/veg5.jpeg">' +'</td>'
            tableContent += '<td>' + '$1.59' + '</td>';
            tableContent += '</tr><br><br>';

          $('#listRec table tbody').html(tableContent);
      }
      else if($('#currentAisle').text() == 'Cereal'){
        $('#adviceBody').text('Consider some healthier cereals. Whole grains have a lower GI index, which helps you feel full for longer.');

        var tableContent = '';
            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Nestle Fitness Whole Grain Cereal" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/cereal1.jpg">' +'</td>'
            tableContent += '<td>' + '$3.99' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "ecoBrown's Wholegrain Brown Rice Cereal (No Sugar Added)" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/cereal2.jpg">' +'</td>'
            tableContent += '<td>' + '$6.99' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Garden Picks Organic Instant Oats" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/cereal3.jpg">' +'</td>'
            tableContent += '<td>' + '$8.99' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Gold Roast Instant Oats" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/cereal4.jpg">' +'</td>'
            tableContent += '<td>' + '$10.99' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Kellogg's Fitness Cereal" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/cereal5.jpg">' +'</td>'
            tableContent += '<td>' + '$12.99' + '</td>';
            tableContent += '</tr><br><br>';

          $('#listRec table tbody').html(tableContent);

      } else if($('#currentAisle').text() == 'Drinks'){
        $('#adviceBody').text('Consider some healthier beverages. Sugar can lead to diabetes and obesity.');

        var tableContent = '';
            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "JJ Jia Jia Herbal Tea - No Sugar Added" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/drinks1.jpg">' +'</td>'
            tableContent += '<td>' + '$0.99' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Lemon Barley Drink PET (R-2015)" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/drinks2.jpg">' +'</td>'
            tableContent += '<td>' + '$1.09' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Horlicks Original" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/drinks3.jpg">' +'</td>'
            tableContent += '<td>' + '$1.19' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "LOL Sparkling Fruit Drink - Apple" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/drinks4.jpg">' +'</td>'
            tableContent += '<td>' + '$1.29' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "MILO 3in1 Activ-Go" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/drinks5.jpg">' +'</td>'
            tableContent += '<td>' + '$1.59' + '</td>';
            tableContent += '</tr><br><br>';

          $('#listRec table tbody').html(tableContent);

      } else {
        $('#adviceTitle').text('Here are some healthy recommendations from your shopping list: ')

        var tableContent = '';
            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Bean Sprouts" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/veg1.jpg">' +'</td>'
            tableContent += '<td>' + '$0.99' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Kang Kong" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/veg2.jpg">' +'</td>'
            tableContent += '<td>' + '$1.09' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Chye Sim" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/veg3.jpg">' +'</td>'
            tableContent += '<td>' + '$1.19' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Kai Lan" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/veg4.jpg">' +'</td>'
            tableContent += '<td>' + '$1.29' + '</td>';
            tableContent += '</tr><br><br>';

            tableContent += '<tr>';
            tableContent += '<td width="20%">' + "Eggplant" +'</td>'
            tableContent += '<td>' + '<img style = "display: block; margin: auto;" class="image" width="50%" src="img/veg5.jpeg">' +'</td>'
            tableContent += '<td>' + '$1.59' + '</td>';
            tableContent += '</tr><br><br>';

          $('#listRec table tbody').html(tableContent);
        }
        // else if(soda==true){
        //   $('#adviceTitle').text('Consider some healthier beverages')
        // }
        // else if(cereal==true){
        //   $('#adviceTitle').text('Consider some healthier cereals')
        // }
        // else if(fruit==false){
        //   $('#adviceTitle').text('You need some fruit! Here are some recommendations: ')
        // }
        // else if(rice==true){
        //   $('#adviceTitle').text('Consider some healthier rice')
        // }
        // else if(alcohol==true){
        //   $('#adviceTitle').text('Drink in moderation')
        // }







    }
    });
  </script>

<div hidden class="mdl-layout mdl-js-layout mdl-layout--fixed-header">

  <!-- Header -->
  <header class="mdl-layout__header">

    <button class="app-back mdl-layout-icon mdl-button mdl-js-button mdl-button--icon">
      <i class="material-icons">arrow_back</i>
    </button>

    <div class="mdl-layout__header-row">

      <!-- Title -->
      <span class="mdl-layout-title">AhLian</span>
      <div class="mdl-layout-spacer"></div>
      <!-- Back button -->
      <nav class="mdl-navigation">
        <a class="app-back mdl-navigation__link" href="javascript:void(0)">Back</a>
      </nav>
    </div>
  </header>

  <!-- Side menu -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation">
      <a class="app-start-scan mdl-navigation__link" href="javascript:void(0)"><i class="material-icons">location_searching</i> Start Scan</a>
      <a class="app-stop-scan mdl-navigation__link" href="javascript:void(0)"><i class="material-icons">highlight_off</i>  Stop Scan</a>
    </nav>
  </div>

  <!-- Main -->
  <main class="mdl-layout__content">

    <!-- page-start -->
    <section>
      <div class="page-content">

        <!-- Raised button with ripple
        https://material.google.com/style/color.html#color-color-palette
        -->
        <div class="app-buttons">
          <button class="app-start-scan mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--white mdl-button--disabled">
              Find your aisle
          </button>
          <button class="app-stop-scan mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-color-text--white mdl-button--disabled">
            Stop Scan
          </button>
        </div>

        <div class="mdl-progress mdl-js-progress"></div>

        <div class="app-info">This app works in Evothings Viewer 1.5 or later.</div>

        <!-- Found devices are inserted into this div -->
        <div class="app-cards"></div>

      </div>
      <!-- End page-content -->
    </section>


  </main>

  <!-- Toast element used for messages -->
  <div class="mdl-snackbar mdl-js-snackbar">
    <div class="mdl-snackbar__text"></div>
    <button class="mdl-snackbar__action" type="button"></button>
  </div>

</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">
      <div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin" style="max-width:100%;">

      <header class="w3-container w3-light-grey w3-padding-16">
      <h1 class="hidden-sm-down" style="
        width: 100%;
        font-size: 100px;
        font-weight: 100;
        text-align: center;
        color: rgba(175, 47, 47, 0.30);font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">AhLian</h1>
        <h3 class="hidden-sm-down text-faded"style="
          width: 100%;
          font-size: 60px;
          font-weight: 100;
          text-align: center;
          color: rgba(175, 47, 47, 0.30);font-style:italic;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">(pronounced: ahh-li-anne)</h3>

          <h1 class="hidden-md-up" style="
            width: 100%;
            font-size: 60px;
            font-weight: 100;
            text-align: center;
            color: rgba(175, 47, 47, 0.30);font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">AhLian</h1>
            <h3 class="hidden-md-up text-faded"style="
              width: 100%;
              font-size: 32px;
              font-weight: 100;
              text-align: center;
              color: rgba(175, 47, 47, 0.30);font-style:italic;font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">(pronounced: ahh-li-anne)</h3>
      </header>

      <ul class="w3-ul">
      <li ng-repeat="x in products" class="w3-padding-16" style="font-size:24px;" >{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">x</span></li>
      </ul>

      <div class="w3-container w3-light-grey w3-padding-16">
      <div class="w3-row w3-margin-top">
      <div class="row col-xs-12 justify-content-md-center">
        <input class = "hidden-sm-down" placeholder="Add an item..." ng-model="addMe" class="w3-input w3-border w3-padding"   style="height:100px; width: 100%; font-size: 24px; text-align:center">
        <input class = "hidden-md-up justify-content-sm-center" placeholder="Add an item..." ng-model="addMe" class="w3-input w3-border w3-padding"   style="height:100px; width: 100%; font-size: 20px; text-align:center">
        <br>
        <p class="w3-text-red">{{errortext}}</p>
      </div> <br>

        <div class="row justify-content-md-center" style="display:block; margin:auto;">

          <div class="col-xs-4 justify-content-md-center">
            <button ng-click="addItem()" style = "height:100px; font-size:24px; width:100%;" class="w3-btn w3-padding w3-green">Add</button>
          </div><br>
          <div class="col-xs-4 justify-content-md-center">
          <button ng-click="getAdvice()" style="height:100px; font-size:24px; width:100%;" class = "btn btn-danger" data-toggle="modal" data-target="#adviceModal">Get Advice!</button>
          </div>
          <br>
          <div class="row justify-content-md-center" style="display:block; margin:auto;">
            <span class="" style="display:block; margin:auto; width: 100%;font-size: 24px;font-weight: 100;text-align: center;color: rgba(175, 47, 47, 0.60);font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;"> Current Aisle:
              <span id = "currentAisle">Not Found!</span>
            </span>
            </div>
        </div>

      </div>
      </div>

     </div>
</div>
</div>
</div>


<script src="cordova.js"></script>
<script src="libs/jquery/jquery-3.1.1.min.js"></script>
<script src="libs/fastclick/fastclick.js"></script>
<script src="libs/mdl/material.js"></script>
<script src="app.js"></script>
</body>

<!-- Modal -->
<div id="adviceModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <!-- <div class="modal-header">
        <h4 id="adviceTitle" class="modal-title" style="font-size: 24px;font-weight: 300;text-align: center;color: rgba(175, 47, 47, 0.60);font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">Here are some healthy recommendations!</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div> -->
      <div class="modal-body">
        <div id="adviceBody" style="font-size: 24px;font-weight: 200;text-align: left;color: rgba(175, 47, 47, 0.60);font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;">
          <br><br>
        </div>
        <div id='listRec'>
          <table style="width:100%;">
            <thead>
              <th style='text-align:center;'> Product </th>
              <th style='text-align:center;'> Image </th>
              <th style='text-align:center;'> Price </th>
            </thead><br>
          <tbody>
          </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>

</html>
