<!DOCTYPE html>
<html lang="en-US">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <link rel="stylesheet" href="style/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <body>
   <script>
    var app = angular.module("myShoppingList", []);
    app.controller("myCtrl", function($scope){
      $scope.products = ["Milk", "Bread", "Cheese"];
      $scope.addItem = function () {
        $scope.errortext = "";
        if (!$scope.addMe) {return;}
        if ($scope.products.indexOf($scope.addMe) == -1) {
            $scope.products.push($scope.addMe);
        } else {
            $scope.errortext = "The item is already in your shopping list.";
        }
      }
      $scope.removeItem = function (x) {
        $scope.errortext = "";
        $scope.products.splice(x,1);
      }
    });
  </script>

  <div class="container">
	  <div class="row">
		  <div class="col-xs-12 col-sm-12 col-md-12">
  
 <div ng-app="myShoppingList" ng-cloak ng-controller="myCtrl" class="w3-card-2 w3-margin" style="max-width:100%;">	 
  <header class="w3-container w3-light-grey w3-padding-16">
    <h1>My Shopping List</h1>
  </header>
  <ul class="w3-ul">
    <li ng-repeat="x in products" class="w3-padding-16" style="font-size:24px;" >{{x}}<span ng-click="removeItem($index)" style="cursor:pointer;" class="w3-right w3-margin-right">x</span></li>
  </ul>
  <div class="w3-container w3-light-grey w3-padding-16">
    <div class="w3-row w3-margin-top">
      <div class="w3-col s10">
        <input placeholder="Add shopping items here" ng-model="addMe" class="w3-input w3-border w3-padding" style="height:100px; font-size: 24px;">
      </div>
      <div class="w3-col s2">
        <button ng-click="addItem()" style = "height:100px; font-size:24px; width: 150px;" class="w3-btn w3-padding w3-green">Add</button>
      </div>
    </div>
    <p class="w3-text-red">{{errortext}}</p>
  </div>
</div>

</div>
</div>
</div>
 
  </body>

</html>
